<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="https://avatars.githubusercontent.com/u/120751924?v=4" alt="image_profile" class="img img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 class="nombre">Nahuel Cuello</h1>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de:</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro voluptate ad rem maiores iusto molestiae quas aliquid quidem suscipit, est ducimus adipisci omnis totam exercitationem natus animi deleniti! Atque, odit!</p>
        </span>
    </div>
</div>