.row {
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se acomoden en nuevas filas si es necesario */
    align-items: center;
    align-content: center;
}
div {
    background-color: #373e5a;
    text-align: center;
    color: #eec295;
}
.nombre {
    font-weight: bold;
    margin-top: 10px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 575px) {
    .nombre {
        margin-top: 0; /* Elimina el margen superior en pantallas pequeñas */
    }

    .img {
        width: 50%;
        border-radius: 50%;
        margin-bottom: 10px;
        position: relative;
        left: 0;
        top: 0;
        transform: none;
    }
}

/* Para pantallas grandes */
@media (min-width: 576px) {
    .img {
        width: 100%;    
        border-radius: 50%;
        left: 4%;
        top: 600px;
    }
}
