footer {
    background-color: black;  /* Aplicado al footer */
    color: #fefefe;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 5px #999;
    padding: 10px; 
}
