<div class="project">
    <h2>Proyectos realizados</h2>
    <div class="row">
        <!-- Texto del proyecto -->
        <div class="project-text col-sm-12 col-md-7 col-lg-7">
            <h3>Proyecto 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero culpa aspernatur minima fugit praesentium quod quia. Tempore, quam numquam sapiente quae, mollitia rem inventore exercitationem a dolor maxime atque!</p>
        </div>
        <!-- Imagen del proyecto -->
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1">
            <img class="project-img img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc0g9EuhNIiPdBQPSa-1McCLCYXBYzDPL8cQ&s" alt="img project">
        </div>
    </div>
</div>

