<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul class="list">
            <li>
                <h3>Trabajo 1 - Year</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia obcaecati error expedita, necessitatibus odit dolorem animi asperiores voluptates inventore maxime esse vitae dolores omnis quibusdam possimus quo deserunt ipsa magni.</p>
            </li>
            <li>
                <h3>Trabajo 2 - Year</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia obcaecati error expedita, necessitatibus odit dolorem animi asperiores voluptates inventore maxime esse vitae dolores omnis quibusdam possimus quo deserunt ipsa magni.</p>
            </li>
            <li>
                <h3>Trabajo 3 - Year</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia obcaecati error expedita, necessitatibus odit dolorem animi asperiores voluptates inventore maxime esse vitae dolores omnis quibusdam possimus quo deserunt ipsa magni.</p>
            </li>
        </ul>
    </div>
    
</div>