<div class="row modern-style-dark">
    <div class="col-12 mb-4 text-center">
      <h2 class="fw-bold">Experiencia Laboral</h2>
    </div>
  
    <div class="col-12 d-flex justify-content-end mb-3">
      <button
        type="button"
        class="btn btn-dark"
        routerLink="/new-experience"
        *ngIf="isLogged"
      >
        Añadir Experiencia
      </button>
    </div>
  
    <div class="col-12">
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let experiencia of exp" class="exp-row">
            <td class="exp-name py-3">
              <h4 class="m-0">{{ experiencia.nameExp }}</h4>
            </td>
            <td class="exp-description py-3 text-muted">
              {{ experiencia.descriptionExp }}
            </td>
            <td *ngIf="isLogged" class="text-end py-3">
              <button
                type="button"
                class="btn btn-light btn-sm me-2"
                routerLink="/edit-experience/{{ experiencia.id }}"
                title="Editar"
              >
                <i class="bi bi-pencil"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="delete(experiencia.id)"
                title="Eliminar"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  