<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()">
                <div class="form-group">
                    <label for="nameExp">Nombre de empresa</label>
                    <input type="text" class="form-control" id="nameExp" name="nameExp" [(ngModel)]="nameExp" required>
                </div>
                <div class="form-group">
                    <label for="descriptionExp">Descripción de tarea</label>
                    <input type="text" class="form-control" id="descriptionExp" name="descriptionExp" [(ngModel)]="descriptionExp" required>
                </div>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
        </div>
    </div>
</div>
